openapi: 3.0.3
info:
  title: Y TU - AI Translation & Human Tone Authentication API
  version: 1.0.0
  description: |
    # Y TU API Documentation
    
    **Y TU API** is a comprehensive AI-powered solution for businesses using AI agents and automated customer communication systems. It provides seamless translation, human tone analysis, and intelligent response generation to eliminate language barriers and enhance customer engagement.
    
    ## 🌟 Key Features
    
    - **Multi-language Translation**: Support for 100+ languages with automatic language detection
    - **Human Tone Analysis**: AI-powered evaluation of formality, emotion, urgency, intent, and cultural context
    - **Response Generation**: Create natural, human-like responses optimized for customer engagement
    - **All-in-One Processing**: Complete pipeline from translation to response generation in a single API call
    - **Cultural Sensitivity**: Responses adapted to different cultural communication styles
    
    ## 🔐 Authentication
    
    All endpoints (except public endpoints) require API key authentication. Include your API key using one of these methods:
    
    - **Header**: `X-API-Key: your-api-key-here`
    - **Bearer Token**: `Authorization: Bearer your-api-key-here`
    
    Get your API key from the [API Keys Dashboard](https://dashboard.ytu-api.com/keys).
    
    ## 📊 Rate Limiting
    
    Rate limits vary by pricing tier. All authenticated responses include rate limit headers:
    
    - `X-RateLimit-Limit`: Maximum requests allowed in the current window
    - `X-RateLimit-Remaining`: Remaining requests in the current window
    - `X-RateLimit-Reset`: Unix timestamp when the rate limit resets
    - `X-RateLimit-Tier`: Your current pricing tier
    
    ### Rate Limits by Tier:
    
    | Tier | Requests/Day | Requests/Minute | Price |
    |------|--------------|-----------------|-------|
    | **FREE** | 100 | 10 | $0/month |
    | **STARTER** | 1,000 | 50 | $29/month |
    | **PRO** | 10,000 | 100 | $99/month |
    | **ENTERPRISE** | Unlimited | Unlimited | Custom |
    
    ## 🎯 Use Cases
    
    - **Customer Service**: Provide multilingual support with emotionally intelligent responses
    - **E-commerce**: Handle international customer inquiries with cultural sensitivity
    - **SaaS Support**: Automate helpdesk responses across multiple languages
    - **Content Localization**: Translate and adapt content for different markets
    
    ## 📞 Support
    
    - **Email**: support@ytu-api.com
    - **Documentation**: https://docs.ytu-api.com
    - **Status Page**: https://status.ytu-api.com
    
  contact:
    name: Y TU API Support
    email: support@ytu-api.com
    url: https://ytu-api.com/support
  license:
    name: Proprietary
    url: https://ytu-api.com/license
  termsOfService: https://ytu-api.com/terms

servers:
  - url: https://api.ytu-translate.com/api/v1
    description: Production Server
  - url: https://staging-api.ytu-translate.com/api/v1
    description: Staging Server
  - url: http://localhost:3000/api/v1
    description: Development Server

tags:
  - name: Health
    description: API health and status monitoring
  - name: Translation
    description: Multi-language translation with auto-detection
  - name: Tone Analysis
    description: AI-powered tone and sentiment analysis
  - name: Response Generation
    description: Generate human-like, contextually appropriate responses
  - name: Processing
    description: All-in-one processing pipeline (recommended)
  - name: Languages
    description: Supported languages and language detection
  - name: API Keys
    description: API key management and authentication
  - name: Metrics
    description: Usage metrics and analytics
  - name: Monitoring
    description: Performance monitoring and alerts
  - name: Pricing
    description: Pricing plans and feature comparison
  - name: Documentation
    description: API documentation and specifications

paths:
  /health:
    get:
      summary: Health Check
      description: |
        Check API health status, uptime, and environment information.
        This endpoint does not require authentication.
      tags:
        - Health
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: API is healthy and operational
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - status
                          - timestamp
                          - environment
                          - apiVersion
                          - uptime
                          - service
                        properties:
                          status:
                            type: string
                            example: ok
                            description: Service health status
                          timestamp:
                            type: string
                            format: date-time
                            example: '2026-01-31T10:30:45.123Z'
                          environment:
                            type: string
                            example: production
                            enum: [production, staging, development]
                          apiVersion:
                            type: string
                            example: v1
                          uptime:
                            type: number
                            example: 3600.5
                            description: Server uptime in seconds
                          service:
                            type: string
                            example: ytu-api
              examples:
                healthy:
                  summary: Healthy API
                  value:
                    success: true
                    data:
                      status: ok
                      timestamp: '2026-01-31T10:30:45.123Z'
                      environment: production
                      apiVersion: v1
                      uptime: 86400.5
                      service: ytu-api
                    metadata:
                      requestId: req_health_abc123
                      timestamp: '2026-01-31T10:30:45.123Z'
                      processingTime: 2
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /translate:
    post:
      summary: Translate Text
      description: |
        Translate text from one language to another with automatic language detection.
        
        **Features:**
        - Automatic source language detection if not provided
        - High-quality neural machine translation
        - Confidence scoring for translation quality
        - Support for 100+ languages
        
        **Rate Limits:**
        - FREE: 100 requests/day, 10 requests/minute
        - STARTER: 1,000 requests/day, 50 requests/minute
        - PRO: 10,000 requests/day, 100 requests/minute
        - ENTERPRISE: Unlimited
      tags:
        - Translation
      operationId: translateText
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslationRequest'
            examples:
              english-to-spanish:
                summary: Customer Service (EN → ES)
                value:
                  text: "Hello, how can I help you today?"
                  sourceLanguage: "en"
                  targetLanguage: "es"
              auto-detect:
                summary: Auto-detect Language
                value:
                  text: "Bonjour, comment puis-je vous aider?"
                  targetLanguage: "en"
              ecommerce:
                summary: E-commerce Inquiry
                value:
                  text: "When will my order arrive?"
                  sourceLanguage: "en"
                  targetLanguage: "de"
      responses:
        '200':
          description: Translation successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-RateLimit-Tier:
              $ref: '#/components/headers/X-RateLimit-Tier'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TranslationResponse'
              examples:
                translation-result:
                  summary: Successful Translation
                  value:
                    success: true
                    data:
                      originalText: "Hello, how can I help you today?"
                      translatedText: "Hola, ¿cómo puedo ayudarte hoy?"
                      sourceLanguage: "en"
                      targetLanguage: "es"
                      confidence: 0.98
                    metadata:
                      requestId: req_trans_abc123
                      timestamp: '2026-01-31T10:30:45.123Z'
                      processingTime: 245
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /analyze-tone:
    post:
      summary: Analyze Human Tone
      description: |
        Perform AI-powered analysis of text for human-like tone, formality, emotion, urgency, intent, and cultural context.
        
        **Analysis Dimensions:**
        - **Tone Score**: Overall human-likeness (0-100)
        - **Formality**: Scale from 1 (casual) to 10 (formal)
        - **Emotion**: positive, neutral, negative, or mixed
        - **Urgency**: low, medium, or high
        - **Intent**: question, complaint, request, feedback, greeting, farewell, or other
        - **Cultural Context**: Detected communication style (e.g., western_direct, asian_indirect)
        
        **Use Cases:**
        - Analyze customer sentiment in support tickets
        - Detect urgency for prioritization
        - Understand customer intent for routing
        - Evaluate cultural communication patterns
      tags:
        - Tone Analysis
      operationId: analyzeTone
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToneAnalysisRequest'
            examples:
              frustrated-customer:
                summary: Frustrated Customer
                value:
                  text: "I'm extremely frustrated with this service! This is the third time I've had to contact support."
                  language: "en"
                  context: "Customer service escalation"
              polite-inquiry:
                summary: Polite Inquiry
                value:
                  text: "Good morning, I was wondering if you could provide information about your return policy."
                  language: "en"
                  context: "E-commerce inquiry"
              urgent-request:
                summary: Urgent Request
                value:
                  text: "My account was charged twice! Please fix this immediately!"
                  language: "en"
                  context: "Billing issue"
      responses:
        '200':
          description: Tone analysis successful
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-RateLimit-Tier:
              $ref: '#/components/headers/X-RateLimit-Tier'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ToneAnalysisResponse'
              examples:
                frustrated-tone:
                  summary: Frustrated Customer Analysis
                  value:
                    success: true
                    data:
                      toneScore: 72
                      formality: 4
                      emotion: "negative"
                      emotionIntensity: "high"
                      urgency: "high"
                      intent: "complaint"
                      culturalContext: "western_direct"
                      detailedAnalysis:
                        naturalness: 85
                        contextRelevance: 90
                        emotionalAppropriateness: 95
                        culturalAppropriateness: 88
                      suggestions:
                        - "Respond with empathy and acknowledgment of frustration"
                        - "Offer immediate solution or escalation"
                        - "Use apologetic and reassuring language"
                        - "Provide specific timeline for resolution"
                      timestamp: '2026-01-31T10:31:00.123Z'
                    metadata:
                      requestId: req_tone_def456
                      timestamp: '2026-01-31T10:31:00.123Z'
                      processingTime: 420
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /generate-response:
    post:
      summary: Generate AI Response
      description: |
        Generate contextually appropriate, human-like responses using advanced AI.
        
        **Generation Process:**
        1. Analyze original message context and intent
        2. Generate multiple response candidates (3-5)
        3. Score each candidate on human-likeness, appropriateness, clarity, and cultural sensitivity
        4. Return the best response with alternatives
        
        **Response Styles:**
        - **professional**: Business-appropriate, polished language
        - **casual**: Relaxed, conversational tone
        - **friendly**: Warm, approachable, and personable
        - **formal**: Very formal and respectful
        - **empathetic**: Understanding, compassionate, and supportive
        - **concise**: Brief and to the point
        
        **Quality Scoring:**
        - Human-likeness: Natural language patterns
        - Appropriateness: Context and intent matching
        - Clarity: Readability and comprehension
        - Cultural sensitivity: Cultural appropriateness
      tags:
        - Response Generation
      operationId: generateResponse
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateResponseRequest'
            examples:
              empathetic-response:
                summary: Empathetic Customer Service
                value:
                  originalText: "I'm extremely frustrated with this service! This is the third time I've had to contact support."
                  context: "Customer service escalation"
                  language: "en"
                  tone: "empathetic"
                  numAlternatives: 3
              damaged-product:
                summary: Product Return Response
                value:
                  originalText: "I need to return this product, it arrived damaged."
                  context: "E-commerce customer service"
                  language: "en"
                  tone: "professional"
                  numAlternatives: 2
      responses:
        '200':
          description: Response generated successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-RateLimit-Tier:
              $ref: '#/components/headers/X-RateLimit-Tier'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/GenerateResponseResponse'
              examples:
                generated-response:
                  summary: Empathetic Response Generated
                  value:
                    success: true
                    data:
                      response: "I completely understand your frustration, and I sincerely apologize for the inconvenience you've experienced. Having to contact support multiple times is unacceptable, and I want to make this right for you immediately. Let me personally ensure this issue is resolved today. Could you please provide me with your account details so I can prioritize this?"
                      score: 94
                      alternatives:
                        - text: "I'm truly sorry to hear about your experience. This shouldn't have happened, and I take full responsibility for getting this resolved for you right away. What can I help you with specifically?"
                          score: 89
                        - text: "Thank you for your patience. I can see you've contacted us before about this issue. Let me escalate this to our senior team immediately to ensure we resolve this for you today."
                          score: 85
                      language: "en"
                      responseStyle: "empathetic"
                      metadata:
                        totalCandidates: 5
                        generationTime: 1200
                        model: "gpt-4"
                      timestamp: '2026-01-31T10:32:00.123Z'
                    metadata:
                      requestId: req_gen_ghi789
                      timestamp: '2026-01-31T10:32:00.123Z'
                      processingTime: 1250
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /process:
    post:
      summary: Complete Processing Pipeline (Recommended)
      description: |
        Execute the complete Y TU AI pipeline in a single API call. This is the **recommended endpoint** for most use cases.
        
        **Processing Steps:**
        1. **Language Detection**: Automatically detect source language
        2. **Translation**: Translate to target language (if different from source)
        3. **Tone Analysis**: Analyze human tone, emotion, urgency, and intent
        4. **Response Generation**: Generate optimal human-like response
        
        **Processing Options:**
        - `translate`: Enable translation (default: true if targetLanguage provided)
        - `analyzeTone`: Enable tone analysis (default: true)
        - `generateResponse`: Enable response generation (default: false, set to true if you want a response)
        
        **Benefits:**
        - Single API call for complete workflow
        - Reduced latency compared to multiple calls
        - Automatic context passing between steps
        - Optimized pricing for bundled operations
      tags:
        - Processing
      operationId: processMessage
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessRequest'
            examples:
              full-pipeline:
                summary: Complete Pipeline (Spanish → English)
                value:
                  text: "Estoy muy frustrado con este servicio! Esta es la tercera vez que tengo que contactar soporte."
                  sourceLanguage: "es"
                  targetLanguage: "en"
                  context: "SaaS customer service"
                  options:
                    translate: true
                    analyzeTone: true
                    generateResponse: true
              auto-detect:
                summary: Auto-detect with Response
                value:
                  text: "Je suis très satisfait de votre produit!"
                  targetLanguage: "en"
                  context: "E-commerce feedback"
                  options:
                    translate: true
                    analyzeTone: true
                    generateResponse: true
              tone-only:
                summary: Tone Analysis Only (No Translation)
                value:
                  text: "I love this product! It's amazing!"
                  targetLanguage: "en"
                  context: "Product review"
                  options:
                    translate: false
                    analyzeTone: true
                    generateResponse: false
      responses:
        '200':
          description: Processing completed successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-RateLimit-Tier:
              $ref: '#/components/headers/X-RateLimit-Tier'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProcessResponse'
              examples:
                complete-processing:
                  summary: Complete Pipeline Result
                  value:
                    success: true
                    data:
                      originalText: "Estoy muy frustrado con este servicio!"
                      translation:
                        originalText: "Estoy muy frustrado con este servicio!"
                        translatedText: "I'm very frustrated with this service!"
                        sourceLanguage: "es"
                        targetLanguage: "en"
                        confidence: 0.97
                      toneAnalysis:
                        toneScore: 68
                        formality: 3
                        emotion: "negative"
                        emotionIntensity: "high"
                        urgency: "high"
                        intent: "complaint"
                        culturalContext: "western_direct"
                        detailedAnalysis:
                          naturalness: 82
                          contextRelevance: 88
                          emotionalAppropriateness: 92
                          culturalAppropriateness: 85
                        suggestions:
                          - "Acknowledge frustration immediately"
                          - "Provide concrete solution"
                          - "Use empathetic language"
                        timestamp: '2026-01-31T10:33:00.123Z'
                      generatedResponse:
                        response: "I completely understand your frustration, and I sincerely apologize for this experience. Let me personally ensure we resolve this for you right away. What specific issue are you experiencing?"
                        score: 92
                        alternatives:
                          - text: "I'm truly sorry to hear about your frustration. This isn't the experience we want for you. How can I help make this right immediately?"
                            score: 88
                        language: "en"
                        responseStyle: "empathetic"
                        metadata:
                          totalCandidates: 5
                          generationTime: 980
                          model: "gpt-4"
                        timestamp: '2026-01-31T10:33:00.123Z'
                      timestamp: '2026-01-31T10:33:00.123Z'
                    metadata:
                      requestId: req_proc_jkl012
                      timestamp: '2026-01-31T10:33:00.123Z'
                      processingTime: 1850
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /languages:
    get:
      summary: Get Supported Languages
      description: |
        Get a complete list of all languages supported for translation.
        This endpoint does not require authentication.
      tags:
        - Languages
      operationId: getSupportedLanguages
      security: []
      responses:
        '200':
          description: List of supported languages
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - languages
                          - count
                        properties:
                          languages:
                            type: array
                            items:
                              type: object
                              required:
                                - code
                                - name
                              properties:
                                code:
                                  type: string
                                  example: "en"
                                  description: ISO 639-1 language code
                                name:
                                  type: string
                                  example: "English"
                                  description: Language name
                                nativeName:
                                  type: string
                                  example: "English"
                                  description: Language name in native script
                          count:
                            type: number
                            example: 108
                            description: Total number of supported languages
              examples:
                supported-languages:
                  summary: Supported Languages Response
                  value:
                    success: true
                    data:
                      languages:
                        - code: "en"
                          name: "English"
                          nativeName: "English"
                        - code: "es"
                          name: "Spanish"
                          nativeName: "Español"
                        - code: "fr"
                          name: "French"
                          nativeName: "Français"
                        - code: "de"
                          name: "German"
                          nativeName: "Deutsch"
                        - code: "zh"
                          name: "Chinese"
                          nativeName: "中文"
                        - code: "ja"
                          name: "Japanese"
                          nativeName: "日本語"
                      count: 108
                    metadata:
                      requestId: req_lang_mno345
                      timestamp: '2026-01-31T10:34:00.123Z'
                      processingTime: 15

  /pricing:
    get:
      summary: Get All Pricing Plans
      description: |
        Get comprehensive information about all available pricing plans, features, and limits.
        This endpoint does not require authentication.
      tags:
        - Pricing
      operationId: getAllPricingPlans
      security: []
      responses:
        '200':
          description: Pricing plans information
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - plans
                        properties:
                          plans:
                            type: array
                            items:
                              $ref: '#/components/schemas/PricingPlan'
              examples:
                pricing-plans:
                  summary: All Pricing Plans
                  value:
                    success: true
                    data:
                      plans:
                        - tier: "FREE"
                          name: "Free Plan"
                          description: "Perfect for testing and small projects"
                          price: "$0/month"
                          limits:
                            requestsPerDay: 100
                            requestsPerMinute: 10
                          features:
                            - "Basic translation"
                            - "Basic tone analysis"
                            - "Single response generation"
                            - "Community support"
                        - tier: "STARTER"
                          name: "Starter Plan"
                          description: "Ideal for small businesses and startups"
                          price: "$29/month"
                          limits:
                            requestsPerDay: 1000
                            requestsPerMinute: 50
                          features:
                            - "All FREE features"
                            - "Priority processing"
                            - "Alternative responses (up to 3)"
                            - "Email support"
                            - "Usage analytics"
                        - tier: "PRO"
                          name: "Pro Plan"
                          description: "For growing businesses with high volume"
                          price: "$99/month"
                          limits:
                            requestsPerDay: 10000
                            requestsPerMinute: 100
                          features:
                            - "All STARTER features"
                            - "Advanced tone analysis"
                            - "Alternative responses (up to 5)"
                            - "Custom response styles"
                            - "Priority support"
                            - "Advanced analytics dashboard"
                            - "Webhook notifications"
                        - tier: "ENTERPRISE"
                          name: "Enterprise Plan"
                          description: "Custom solutions for large organizations"
                          price: "Custom pricing"
                          limits:
                            requestsPerDay: "unlimited"
                            requestsPerMinute: "unlimited"
                          features:
                            - "All PRO features"
                            - "Custom integrations"
                            - "Dedicated account manager"
                            - "SLA guarantee (99.9% uptime)"
                            - "White-label options"
                            - "Custom AI model training"
                            - "On-premise deployment"
                    metadata:
                      requestId: req_price_pqr678
                      timestamp: '2026-01-31T10:35:00.123Z'
                      processingTime: 12

  /pricing/{tier}:
    get:
      summary: Get Specific Pricing Plan
      description: Get detailed information about a specific pricing tier
      tags:
        - Pricing
      operationId: getPricingPlanByTier
      security: []
      parameters:
        - name: tier
          in: path
          required: true
          schema:
            type: string
            enum: [FREE, STARTER, PRO, ENTERPRISE]
          description: Pricing tier name
          example: PRO
      responses:
        '200':
          description: Pricing plan details
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PricingPlan'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /api-keys:
    get:
      summary: List API Keys
      description: Get list of all API keys for the authenticated user
      tags:
        - API Keys
      operationId: listApiKeys
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      responses:
        '200':
          description: List of API keys
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-RateLimit-Tier:
              $ref: '#/components/headers/X-RateLimit-Tier'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - apiKeys
                          - count
                        properties:
                          apiKeys:
                            type: array
                            items:
                              $ref: '#/components/schemas/ApiKeyInfo'
                          count:
                            type: integer
                            example: 3
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    post:
      summary: Create API Key
      description: Create a new API key with the specified tier and permissions
      tags:
        - API Keys
      operationId: createApiKey
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - tier
              properties:
                name:
                  type: string
                  maxLength: 100
                  example: "Production API Key"
                  description: Friendly name for the API key
                tier:
                  $ref: '#/components/schemas/ApiKeyTier'
      responses:
        '201':
          description: API key created successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-RateLimit-Tier:
              $ref: '#/components/headers/X-RateLimit-Tier'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        allOf:
                          - $ref: '#/components/schemas/ApiKeyInfo'
                          - type: object
                            required:
                              - key
                            properties:
                              key:
                                type: string
                                example: "ytu_prod_1234567890abcdef"
                                description: Full API key (shown only once)
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /api-keys/{id}:
    delete:
      summary: Delete API Key
      description: Permanently delete an API key. This action cannot be undone.
      tags:
        - API Keys
      operationId: deleteApiKey
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: API key ID
          example: "key_abc123"
      responses:
        '200':
          description: API key deleted successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-RateLimit-Tier:
              $ref: '#/components/headers/X-RateLimit-Tier'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - deleted
                          - id
                        properties:
                          deleted:
                            type: boolean
                            example: true
                          id:
                            type: string
                            example: "key_abc123"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /metrics/usage:
    get:
      summary: Get Usage Metrics
      description: |
        Get detailed usage statistics for the authenticated API key.
        Includes request counts, success rates, and performance metrics.
      tags:
        - Metrics
      operationId: getUsageMetrics
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
          description: Start date for metrics (YYYY-MM-DD)
          example: "2026-01-01"
        - name: endDate
          in: query
          schema:
            type: string
            format: date
          description: End date for metrics (YYYY-MM-DD)
          example: "2026-01-31"
        - name: granularity
          in: query
          schema:
            type: string
            enum: [hour, day, week, month]
            default: day
          description: Data aggregation granularity
      responses:
        '200':
          description: Usage metrics retrieved successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-RateLimit-Tier:
              $ref: '#/components/headers/X-RateLimit-Tier'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        required:
                          - apiKeyId
                          - period
                          - totalRequests
                          - successfulRequests
                          - failedRequests
                          - averageResponseTime
                        properties:
                          apiKeyId:
                            type: string
                            example: "key_abc123"
                          period:
                            type: object
                            properties:
                              start:
                                type: string
                                format: date
                              end:
                                type: string
                                format: date
                          totalRequests:
                            type: integer
                            example: 5420
                          successfulRequests:
                            type: integer
                            example: 5385
                          failedRequests:
                            type: integer
                            example: 35
                          successRate:
                            type: number
                            example: 99.35
                            description: Success rate percentage
                          averageResponseTime:
                            type: number
                            example: 245.5
                            description: Average response time in milliseconds
                          endpoints:
                            type: object
                            additionalProperties:
                              type: object
                              properties:
                                requests:
                                  type: integer
                                averageResponseTime:
                                  type: number
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /monitoring/performance:
    get:
      summary: Get Performance Statistics
      description: Get real-time performance statistics for API endpoints
      tags:
        - Monitoring
      operationId: getPerformanceStats
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: endpoint
          in: query
          schema:
            type: string
          description: Specific endpoint to get stats for (optional)
          example: "/translate"
        - name: timeWindow
          in: query
          schema:
            type: integer
            default: 3600000
          description: Time window in milliseconds (default 1 hour)
          example: 3600000
      responses:
        '200':
          description: Performance statistics retrieved successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-RateLimit-Tier:
              $ref: '#/components/headers/X-RateLimit-Tier'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          timeWindow:
                            type: integer
                            example: 3600000
                          timestamp:
                            type: string
                            format: date-time
                          stats:
                            type: object
                            additionalProperties:
                              type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /monitoring/alerts:
    get:
      summary: Get Monitoring Alerts
      description: Get recent monitoring alerts and notifications
      tags:
        - Monitoring
      operationId: getMonitoringAlerts
      security:
        - ApiKeyAuth: []
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 500
          description: Maximum number of alerts to return
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
          description: Filter by severity level
        - name: type
          in: query
          schema:
            type: string
            enum: [HIGH_ERROR_RATE, SLOW_RESPONSE_TIME, RATE_LIMIT_ABUSE, HIGH_ERROR_COUNT]
          description: Filter by alert type
      responses:
        '200':
          description: Alerts retrieved successfully
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            X-RateLimit-Tier:
              $ref: '#/components/headers/X-RateLimit-Tier'
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          count:
                            type: integer
                          alerts:
                            type: array
                            items:
                              type: object
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /docs:
    get:
      summary: Interactive API Documentation
      description: View interactive Swagger UI documentation
      tags:
        - Documentation
      operationId: viewDocs
      security: []
      responses:
        '200':
          description: Swagger UI HTML page
          content:
            text/html:
              schema:
                type: string

  /openapi.json:
    get:
      summary: OpenAPI Specification (JSON)
      description: Download OpenAPI specification in JSON format
      tags:
        - Documentation
      operationId: getOpenApiJson
      security: []
      responses:
        '200':
          description: OpenAPI JSON specification
          content:
            application/json:
              schema:
                type: object

  /openapi.yaml:
    get:
      summary: OpenAPI Specification (YAML)
      description: Download OpenAPI specification in YAML format
      tags:
        - Documentation
      operationId: getOpenApiYaml
      security: []
      responses:
        '200':
          description: OpenAPI YAML specification
          content:
            text/yaml:
              schema:
                type: string

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API Key authentication. Include your API key in the `X-API-Key` header.
        
        Example: `X-API-Key: ytu_prod_1234567890abcdef`
        
        Get your API key from the [API Keys Dashboard](https://dashboard.ytu-api.com/keys).

    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        Bearer token authentication using your API key.
        
        Example: `Authorization: Bearer ytu_prod_1234567890abcdef`

  headers:
    X-RateLimit-Limit:
      description: Maximum number of requests allowed in the current time window
      schema:
        type: integer
        example: 1000

    X-RateLimit-Remaining:
      description: Number of requests remaining in the current time window
      schema:
        type: integer
        example: 847

    X-RateLimit-Reset:
      description: Unix timestamp when the rate limit resets
      schema:
        type: integer
        example: 1738329600

    X-RateLimit-Tier:
      description: Current pricing tier
      schema:
        type: string
        enum: [FREE, STARTER, PRO, ENTERPRISE]
        example: PRO

  schemas:
    SuccessResponse:
      type: object
      required:
        - success
        - data
        - metadata
      properties:
        success:
          type: boolean
          example: true
          description: Indicates successful request
        data:
          type: object
          description: Response data (varies by endpoint)
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'

    ErrorResponse:
      type: object
      required:
        - success
        - error
        - metadata
      properties:
        success:
          type: boolean
          example: false
          description: Indicates failed request
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
              description: Error code for programmatic handling
            message:
              type: string
              example: Validation failed
              description: Human-readable error message
            details:
              type: object
              description: Additional error context and details
              additionalProperties: true
        metadata:
          $ref: '#/components/schemas/ResponseMetadata'

    ResponseMetadata:
      type: object
      required:
        - requestId
        - timestamp
        - processingTime
      properties:
        requestId:
          type: string
          example: req_1738329600_a1b2c3d4
          description: Unique request identifier for tracking and support
        timestamp:
          type: string
          format: date-time
          example: '2026-01-31T10:30:45.123Z'
          description: ISO 8601 timestamp of the response
        processingTime:
          type: integer
          example: 245
          description: Request processing time in milliseconds

    TranslationRequest:
      type: object
      required:
        - text
        - targetLanguage
      properties:
        text:
          type: string
          minLength: 1
          maxLength: 5000
          example: "Hello, how can I help you today?"
          description: Text to translate (1-5000 characters)
        targetLanguage:
          type: string
          pattern: '^[a-z]{2}$'
          example: "es"
          description: Target language code (ISO 639-1, 2 lowercase letters)
        sourceLanguage:
          type: string
          pattern: '^[a-z]{2}$'
          example: "en"
          description: Source language code (ISO 639-1). Auto-detected if not provided

    TranslationResponse:
      type: object
      required:
        - originalText
        - translatedText
        - sourceLanguage
        - targetLanguage
        - confidence
      properties:
        originalText:
          type: string
          example: "Hello, how can I help you today?"
        translatedText:
          type: string
          example: "Hola, ¿cómo puedo ayudarte hoy?"
        sourceLanguage:
          type: string
          example: "en"
          description: Detected or provided source language code
        targetLanguage:
          type: string
          example: "es"
          description: Target language code
        confidence:
          type: number
          format: float
          minimum: 0
          maximum: 1
          example: 0.98
          description: Translation confidence score (0.0 - 1.0)

    ToneAnalysisRequest:
      type: object
      required:
        - text
      properties:
        text:
          type: string
          minLength: 1
          maxLength: 5000
          example: "I am extremely disappointed with the service quality."
          description: Text to analyze (1-5000 characters)
        language:
          type: string
          pattern: '^[a-z]{2}$'
          example: "en"
          description: Language code (ISO 639-1). Auto-detected if not provided
        context:
          type: string
          maxLength: 1000
          example: "Customer service response"
          description: Business context for improved analysis accuracy

    ToneAnalysisResponse:
      type: object
      required:
        - toneScore
        - formality
        - emotion
        - emotionIntensity
        - urgency
        - intent
        - culturalContext
        - detailedAnalysis
        - suggestions
        - timestamp
      properties:
        toneScore:
          type: integer
          minimum: 0
          maximum: 100
          example: 85
          description: Overall human-likeness score (0-100, higher is more human-like)
        formality:
          type: integer
          minimum: 1
          maximum: 10
          example: 7
          description: Formality level (1=very casual, 10=very formal)
        emotion:
          type: string
          enum: [positive, neutral, negative, mixed]
          example: "negative"
          description: Primary emotion detected
        emotionIntensity:
          type: string
          enum: [low, medium, high]
          example: "high"
          description: Intensity of the detected emotion
        urgency:
          type: string
          enum: [low, medium, high]
          example: "high"
          description: Urgency level of the message
        intent:
          type: string
          enum: [question, complaint, request, feedback, greeting, farewell, other]
          example: "complaint"
          description: Primary intent of the message
        culturalContext:
          type: string
          example: "western_direct"
          description: Detected cultural communication style
        detailedAnalysis:
          type: object
          required:
            - naturalness
            - contextRelevance
            - emotionalAppropriateness
            - culturalAppropriateness
          properties:
            naturalness:
              type: integer
              minimum: 0
              maximum: 100
              example: 90
              description: Natural language pattern score
            contextRelevance:
              type: integer
              minimum: 0
              maximum: 100
              example: 85
              description: Context relevance score
            emotionalAppropriateness:
              type: integer
              minimum: 0
              maximum: 100
              example: 80
              description: Emotional appropriateness score
            culturalAppropriateness:
              type: integer
              minimum: 0
              maximum: 100
              example: 85
              description: Cultural appropriateness score
        suggestions:
          type: array
          items:
            type: string
          example:
            - "Respond with empathy and acknowledgment"
            - "Address the concern directly"
            - "Use apologetic language"
          description: AI-generated suggestions for responding
        timestamp:
          type: string
          format: date-time
          example: '2026-01-31T10:31:00.123Z'

    GenerateResponseRequest:
      type: object
      required:
        - originalText
      properties:
        originalText:
          type: string
          minLength: 1
          maxLength: 5000
          example: "I need to return this product, it arrived damaged."
          description: Original message to respond to
        toneAnalysis:
          $ref: '#/components/schemas/ToneAnalysisResponse'
          description: Pre-computed tone analysis (optional, will analyze if not provided)
        context:
          type: string
          maxLength: 1000
          example: "E-commerce customer service"
          description: Business context for response generation
        language:
          type: string
          pattern: '^[a-z]{2}$'
          example: "en"
          description: Target language for the response (ISO 639-1)
        tone:
          type: string
          enum: [professional, casual, friendly, formal, empathetic, concise]
          default: professional
          example: "empathetic"
          description: Desired response style/tone
        numAlternatives:
          type: integer
          minimum: 0
          maximum: 5
          default: 2
          example: 3
          description: Number of alternative responses to generate (0-5)

    GenerateResponseResponse:
      type: object
      required:
        - response
        - score
        - alternatives
        - language
        - responseStyle
        - metadata
        - timestamp
      properties:
        response:
          type: string
          example: "I sincerely apologize for the inconvenience. We will process your return immediately and send a replacement right away."
          description: Best generated response based on scoring
        score:
          type: integer
          minimum: 0
          maximum: 100
          example: 94
          description: Quality score of the response (0-100)
        alternatives:
          type: array
          items:
            type: object
            required:
              - text
              - score
            properties:
              text:
                type: string
              score:
                type: integer
                minimum: 0
                maximum: 100
          example:
            - text: "We apologize for the damaged product. Your return is being processed."
              score: 85
            - text: "I'm sorry to hear that. Let me arrange a replacement for you immediately."
              score: 88
          description: Alternative response options ranked by score
        language:
          type: string
          example: "en"
          description: Language of the generated response
        responseStyle:
          type: string
          example: "empathetic"
          description: Style used for response generation
        metadata:
          type: object
          required:
            - totalCandidates
            - generationTime
            - model
          properties:
            totalCandidates:
              type: integer
              example: 5
              description: Total number of candidates generated
            generationTime:
              type: integer
              example: 1200
              description: Generation time in milliseconds
            model:
              type: string
              example: "gpt-4"
              description: AI model used for generation
        timestamp:
          type: string
          format: date-time
          example: '2026-01-31T10:32:00.123Z'

    ProcessRequest:
      type: object
      required:
        - text
        - targetLanguage
      properties:
        text:
          type: string
          minLength: 1
          maxLength: 5000
          example: "I want to cancel my subscription immediately."
          description: Original message text to process
        sourceLanguage:
          type: string
          pattern: '^[a-z]{2}$'
          example: "en"
          description: Source language code (auto-detected if not provided)
        targetLanguage:
          type: string
          pattern: '^[a-z]{2}$'
          example: "es"
          description: Target language for response (ISO 639-1)
        context:
          type: string
          maxLength: 1000
          example: "SaaS customer service"
          description: Business context for processing
        options:
          type: object
          properties:
            translate:
              type: boolean
              default: true
              description: Enable translation step
            analyzeTone:
              type: boolean
              default: true
              description: Enable tone analysis step
            generateResponse:
              type: boolean
              default: false
              description: Enable response generation step

    ProcessResponse:
      type: object
      required:
        - originalText
        - timestamp
      properties:
        originalText:
          type: string
          example: "I want to cancel my subscription immediately."
        translation:
          $ref: '#/components/schemas/TranslationResponse'
          description: Translation result (if translation enabled)
        toneAnalysis:
          $ref: '#/components/schemas/ToneAnalysisResponse'
          description: Tone analysis result (if tone analysis enabled)
        generatedResponse:
          $ref: '#/components/schemas/GenerateResponseResponse'
          description: Generated response (if response generation enabled)
        timestamp:
          type: string
          format: date-time
          example: '2026-01-31T10:33:00.123Z'

    ApiKeyTier:
      type: string
      enum: [FREE, STARTER, PRO, ENTERPRISE]
      example: PRO
      description: API key pricing tier

    ApiKeyInfo:
      type: object
      required:
        - id
        - name
        - tier
        - createdAt
        - isActive
        - keyPreview
      properties:
        id:
          type: string
          example: "key_abc123xyz"
          description: Unique API key identifier
        name:
          type: string
          example: "Production API Key"
          description: Friendly name for the API key
        tier:
          $ref: '#/components/schemas/ApiKeyTier'
        createdAt:
          type: string
          format: date-time
          example: '2026-01-15T08:00:00.123Z'
          description: Key creation timestamp
        lastUsedAt:
          type: string
          format: date-time
          example: '2026-01-31T10:30:00.123Z'
          description: Last usage timestamp
        isActive:
          type: boolean
          example: true
          description: Whether the key is currently active
        keyPreview:
          type: string
          example: "ytu_prod...xyz"
          description: Masked preview of the API key

    PricingPlan:
      type: object
      required:
        - tier
        - name
        - description
        - price
        - limits
        - features
      properties:
        tier:
          $ref: '#/components/schemas/ApiKeyTier'
        name:
          type: string
          example: "Pro Plan"
        description:
          type: string
          example: "For growing businesses with high volume"
        price:
          type: string
          example: "$99/month"
        limits:
          type: object
          properties:
            requestsPerDay:
              oneOf:
                - type: integer
                - type: string
              example: 10000
            requestsPerMinute:
              oneOf:
                - type: integer
                - type: string
              example: 100
        features:
          type: array
          items:
            type: string
          example:
            - "All STARTER features"
            - "Advanced analytics"
            - "Priority support"

  responses:
    UnauthorizedError:
      description: Authentication required or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            missing-api-key:
              summary: Missing API Key
              value:
                success: false
                error:
                  code: UNAUTHORIZED
                  message: "Authentication required: Missing or invalid API Key"
                  details:
                    hint: "Include your API key in the X-API-Key header or as a Bearer token"
                metadata:
                  requestId: req_unauth_123
                  timestamp: '2026-01-31T10:30:45.123Z'
                  processingTime: 3
            invalid-api-key:
              summary: Invalid API Key
              value:
                success: false
                error:
                  code: INVALID_API_KEY
                  message: "The provided API key is invalid or has been revoked"
                  details:
                    hint: "Check your API key in the dashboard at https://dashboard.ytu-api.com/keys"
                metadata:
                  requestId: req_unauth_456
                  timestamp: '2026-01-31T10:30:45.123Z'
                  processingTime: 5

    RateLimitError:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/X-RateLimit-Limit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/X-RateLimit-Remaining'
        X-RateLimit-Reset:
          $ref: '#/components/headers/X-RateLimit-Reset'
        X-RateLimit-Tier:
          $ref: '#/components/headers/X-RateLimit-Tier'
        Retry-After:
          description: Seconds to wait before retrying
          schema:
            type: integer
            example: 3600
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            daily-limit:
              summary: Daily Rate Limit Exceeded
              value:
                success: false
                error:
                  code: RATE_LIMIT_EXCEEDED
                  message: "Rate limit exceeded: Daily limit of 100 requests exceeded"
                  details:
                    limit: 100
                    remaining: 0
                    resetAt: '2026-02-01T00:00:00.000Z'
                    currentTier: FREE
                    upgradeUrl: "https://dashboard.ytu-api.com/upgrade"
                metadata:
                  requestId: req_rate_789
                  timestamp: '2026-01-31T23:45:00.123Z'
                  processingTime: 2
            minute-limit:
              summary: Per-Minute Rate Limit
              value:
                success: false
                error:
                  code: RATE_LIMIT_EXCEEDED
                  message: "Rate limit exceeded: Minute limit of 10 requests exceeded"
                  details:
                    limit: 10
                    remaining: 0
                    resetAt: '2026-01-31T10:31:00.000Z'
                    currentTier: FREE
                metadata:
                  requestId: req_rate_101
                  timestamp: '2026-01-31T10:30:45.123Z'
                  processingTime: 1

    ValidationError:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            missing-required-field:
              summary: Missing Required Field
              value:
                success: false
                error:
                  code: VALIDATION_ERROR
                  message: "Validation failed: Missing required fields"
                  details:
                    errors:
                      - field: "text"
                        message: "Field is required"
                        type: "required"
                metadata:
                  requestId: req_val_112
                  timestamp: '2026-01-31T10:30:45.123Z'
                  processingTime: 5
            invalid-language-code:
              summary: Invalid Language Code
              value:
                success: false
                error:
                  code: VALIDATION_ERROR
                  message: "Validation failed: Invalid language code"
                  details:
                    errors:
                      - field: "targetLanguage"
                        message: "Must be a valid ISO 639-1 language code (2 lowercase letters)"
                        value: "ENG"
                        type: "pattern"
                metadata:
                  requestId: req_val_113
                  timestamp: '2026-01-31T10:30:45.123Z'
                  processingTime: 4
            text-too-long:
              summary: Text Exceeds Maximum Length
              value:
                success: false
                error:
                  code: VALIDATION_ERROR
                  message: "Validation failed: Text exceeds maximum length"
                  details:
                    errors:
                      - field: "text"
                        message: "Text must not exceed 5000 characters"
                        value: 6543
                        type: "maxLength"
                metadata:
                  requestId: req_val_114
                  timestamp: '2026-01-31T10:30:45.123Z'
                  processingTime: 3

    NotFoundError:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            api-key-not-found:
              summary: API Key Not Found
              value:
                success: false
                error:
                  code: NOT_FOUND
                  message: "API key not found"
                  details:
                    resource: "api-key"
                    id: "key_nonexistent"
                metadata:
                  requestId: req_404_115
                  timestamp: '2026-01-31T10:30:45.123Z'
                  processingTime: 10
            pricing-tier-not-found:
              summary: Pricing Tier Not Found
              value:
                success: false
                error:
                  code: NOT_FOUND
                  message: "Pricing tier not found"
                  details:
                    resource: "pricing-tier"
                    tier: "PLATINUM"
                    validTiers: ["FREE", "STARTER", "PRO", "ENTERPRISE"]
                metadata:
                  requestId: req_404_116
                  timestamp: '2026-01-31T10:30:45.123Z'
                  processingTime: 8

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            internal-error:
              summary: Internal Server Error
              value:
                success: false
                error:
                  code: INTERNAL_ERROR
                  message: "An unexpected error occurred. Our team has been notified."
                  details:
                    supportContact: "support@ytu-api.com"
                    statusPage: "https://status.ytu-api.com"
                metadata:
                  requestId: req_500_117
                  timestamp: '2026-01-31T10:30:45.123Z'
                  processingTime: 150
            ai-service-error:
              summary: AI Service Unavailable
              value:
                success: false
                error:
                  code: SERVICE_UNAVAILABLE
                  message: "AI service temporarily unavailable. Please try again."
                  details:
                    service: "tone-analysis"
                    retryAfter: 30
                metadata:
                  requestId: req_503_118
                  timestamp: '2026-01-31T10:30:45.123Z'
                  processingTime: 5000

security:
  - ApiKeyAuth: []
  - BearerAuth: []

x-pricing-tiers:
  FREE:
    description: Perfect for testing and small projects
    limits:
      requestsPerDay: 100
      requestsPerMinute: 10
      features:
        - Basic translation
        - Basic tone analysis
        - Single response generation
        - Community support
    price: $0/month
    
  STARTER:
    description: Ideal for small businesses and startups
    limits:
      requestsPerDay: 1000
      requestsPerMinute: 50
      features:
        - All FREE features
        - Priority processing
        - Alternative responses (up to 3)
        - Email support
        - Usage analytics
    price: $29/month
    
  PRO:
    description: For growing businesses with high volume
    limits:
      requestsPerDay: 10000
      requestsPerMinute: 100
      features:
        - All STARTER features
        - Advanced tone analysis
        - Alternative responses (up to 5)
        - Custom response styles
        - Priority support
        - Advanced analytics dashboard
        - Webhook notifications
    price: $99/month
    
  ENTERPRISE:
    description: Custom solutions for large organizations
    limits:
      requestsPerDay: unlimited
      requestsPerMinute: unlimited
      features:
        - All PRO features
        - Custom integrations
        - Dedicated account manager
        - SLA guarantee (99.9% uptime)
        - White-label options
        - Custom AI model training
        - On-premise deployment options
    price: Custom pricing